<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>oucFreeTalk</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>oucFreeTalk.login.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>oucFreeTalk.login.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>getUserServlet</servlet-name>
    <servlet-class>oucFreeTalk.user.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserServlet</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
</web-app>